<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="cn.hengxin.entity.User" alias="User"/>
		<typeAlias type="cn.hengxin.entity.News" alias="News"/>
		<typeAlias type="cn.hengxin.entity.Service" alias="Service"/>
		<typeAlias type="cn.hengxin.entity.Core" alias="Core"/>
		<typeAlias type="cn.hengxin.entity.Client" alias="Client"/>
		<typeAlias type="cn.hengxin.entity.Company" alias="Company"/>
	</typeAliases>
	
</configuration>